
/*Whole CSS*/
*{
    box-sizing: border-box;
}

#home{
    display: true;
    padding:4rem;
    background-color: grey;
    z-index: 2;
    opacity: 0.7;
}

#work{
    display: none;
    padding:0;
    font-family:Verdana, Geneva, sans-serif;
    height: 100%;
    width:100%;
}

#projects{
    display:none;
}

#contact{
    display: none;
}

body{
    height: 100%;
    margin:0px;
    
    height: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/background-image.jpg) no-repeat;
    font-family:Verdana, Geneva, sans-serif;
    line-height: 1.5;
}

/* Hamburger Menu*/
.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
  
.menu-wrap .toggler {
   position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}
  
.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background-color:grey;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}
  
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}
  

.menu-wrap .hamburger > div::after {
    top: 10px;
}
  
.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}
  
.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}
  
.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}
  
.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 0,7s;
}
  
.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: ease 0.4s;
}
  
.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.menu-wrap .menu > div {
    background-color:blue;
    opacity: 0.6;
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}
  
.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: 0.4s ease;
}
  
.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
 }
  
.menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }
/*Headings*/
h1, h2{
    margin:0px;
    font-weight: 400;
}

h1.lg-heading{
    font-size: 6rem;
}
h2.sm-heading{
    margin-bottom:2rem;
    padding: 0.2rem 1rem;
    background-color:rgba(lightgray, 0.5);
}

/*Page and text styling*/
a{
  color: #fff;
  text-decoration: none;  
}
header{
    position: fixed;
    z-index: 2;
}
.lastname{
    color:greenyellow;
}

.container{
    background-color: grey;
    opacity: 0.7;
    height: 100vh;
    position:absolute;
    width: 100vw;
    top:0;
    left:0;
    z-index: -1;
    
}
main.icons{
    margin-top:1rem;
}

.icon-links:hover{
    color: greenyellow;
    transition: all 0.5s ease-out;
}
@media only screen and (max-width: 600px){
    body{
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/background-image.jpg) no-repeat;
    }

    h1.lg-heading{
        font-size: 3rem;
    }   
    
}
.timeline{
    color:white;
    position: relative;
    margin:50px auto;
    padding:0px 0;
    width:100%;
}
.timeline:before{
    content:'';
    position: absolute;
    left:20px;
    width:2px;
    height: 95%;
    background: #c5c5c5;
    margin-top:30px;
}

.timeline ul{
    margin:0;
    padding:0;
}
.timeline ul li{
    list-style: none;
    position: relative; 
    width: 100%;
    padding: 20px 40px;
    box-sizing: border-box;
}

.timeline ul li h3{
    margin:0;
    padding:0;
    font-weight: 600;
    color:rgba(233,33,99,1);
}
.timeline ul li:before{
    content:'';
    position: absolute;
    width:10px;
    height:10px;
    top:24px;
    background: rgba(233,33,99,1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233,33,99,0.2);
}

@media only screen and (max-width:700px){
    .timeline ul li:before{
     left:17px;   
    }
}
.timeline ul li p{
    margin: 10px 0 0;
    padding:0; 
}
@media only screen and (min-width:700px){

    .timeline{
        width:90%;
    }
    .timeline ul li:nth-child(odd){
        float: left;
        text-align:right;
        clear: both;
    }
    .timeline ul li:nth-child(even){
        float: right;
        text-align:left;
        clear: both;
    }
    .timeline ul li{
        width:50%;
    }
    .timeline ul li:nth-child(odd):before{
        content:'';
        position: absolute;
        width:10px;
        height:10px;
        top:24px;
        right:-6px;
        background: rgba(233,33,99,1);
        border-radius: 50%;
        box-shadow: 0 0 0 3px rgba(233,33,99,0.2);
    }
    .timeline ul li:nth-child(even):before{
        content:'';
        position: absolute;
        width:10px;
        height:10px;
        top:24px;
        left:-6px;
        background: rgba(233,33,99,1);
        border-radius: 50%;
        box-shadow: 0 0 0 3px rgba(233,33,99,0.2);
    }
}
.img-container {
    position: relative;
    margin-top: 50px;
    width: 500px;
    height: 300px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
  }
  
  .img-container:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .3);
  }
  
  img {
    width: 500px;
    height: 300px;
  }
  
  .title {
    position: absolute;
    width: 500px;
    left: 0;
    top: 120px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: black;
    z-index: 1;
    transition: top .5s ease;
  }
  
  .img-container:hover .title {
    top: 90px;
  }
  
  .button {
    position: absolute;
    width: 500px;
    left:0;
    top: 180px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
  }
  
  .button a {
    width: 200px;
    padding: 12px 48px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
  }
  
  .img-container:hover .button {
    opacity: 1;
  }
  #flex-container{
      display: flex;
      flex-direction:row;
      justify-content: center;
      flex-flow:wrap;

  }
  .text{

  }
  


 